$gray-800: #2d3748;
$gray-700: #4a5568;
$gray-200: #edf2f7;
$gray-100: #f7fafc;
$red-600: #e53e3e;
$blue-500: #4299e1;
$focus-ring-color: $blue-500;

.input[type="text"] {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid $gray-200;
  background-color: $gray-100;
  color: $gray-800;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input:focus,
.select:focus {
  outline: none;
  border: 2px solid $focus-ring-color;
}

.input:invalid,
.select:invalid {
  border: 2px solid #ff7d87;
  box-shadow: none;
}

.select {
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid $gray-200;
  border-radius: 10px;
  color: $gray-700;
  height: auto;
  background-color: $gray-100;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

.label {
  font-weight: bold;
}

.button {
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: $gray-700;
  border: 2px solid $gray-700;
  color: white;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
    transform 200ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.form {
  min-width: 350px;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;

    &.metricForm {
      flex-direction: row;
      align-items: center;
    }

    .error {
      font-size: 12px;
      color: $red-600;
      margin-top: 0.25rem;
      position: absolute;
      bottom: -15px;
    }
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metricForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  margin-top: 20px;
}
